<div class="text-field mb-4">
  <%= form.label :name, t(".label_name"), class: "mb-1" %>
  <%= form.text_field :name, placeholder:t(".placeholder_name"), class: "input-field w-full" %>
</div>

<div class="password-field mb-4">
  <%= form.label :password, t(".label_password"), class: "mb-1" %>
  <%= form.password_field :password, placeholder:t(".placeholder_password"), class: "input-field w-full" %>
</div>

<div class="phone-field mb-4">
  <%= form.label :phone, t(".label_phone"), class: "mb-1" %>
  <%= form.phone_field :phone, :maxlength => 10, placeholder:t(".placeholder_phone"), class: "input-field w-full" %>
</div>
