<div class="text-field">
  <h5><%= form.label :email %></h5>
  <%= form.text_field :email, type: 'email', class: 'input-field' %>
</div>

<div class="text-field">
  <h5><%= form.label :name %></h5>
  <%= form.text_field :name, class: 'input-field' %>
</div>

<div class="text-field">
  <h5><%= form.label :phone %></h5>
  <%= form.text_field :phone, :maxlength => 10, class: 'input-field' %>
</div>

<div class="password-field">
  <h5><%= form.label :password %></h5>
  <%= form.password_field :password, class: 'input-field' %>
</div>
