<% content_for :head do %>
  <%= javascript_pack_tag 'delete_confirmation' %>
<% end %>

<% if current_user.status %>
<div class="px-6 y py-2">
  <div class="text-justify py-4 mt-2.5">
    <%= render "shared/header_stamp" %>
    <h3 class="header-3-4">Mi cuenta</h3>
  </div>

  <div class="grid lg:grid-cols-2 md:grid-cols-1 mt-2.5">
    <div clas="lg:col-start-1 lg:col-end-2">
      <h5 class="header-5">Nombre completo</h5>
      <p class="mb-6"><%= current_user.name %></p>
    </div>

    <div clas="col-start-2 col-end-3">
      <h5 class="header-5">Correo electrónico</h5>
      <p class="mb-6"><%= current_user.email %></p>
    </div>
  </div>

  <div class="text-justify py-4 mt-2.5">
    <h3 class="header-3-4">Mis negocios</h3>
  </div>
  
  <hr class="w-full border-scene-neutral">

       
  <% @user_market.each do |market| %>
    <h5 class="header-5 mt-6">Nombre</h5>
    <p class="mb-6"><%= market.business_name %></p>
      
    <div class="grid lg:grid-cols-2 md:grid-cols-1 mt-4">
      <div clas="lg:col-start-1 lg:col-end-2">
        <h5 class="header-5">Direccion</h5>
        <p class="mb-6"><%= market.address %></p>
      </div>

      <div clas="col-start-2 col-end-3">
        <h5 class="header-5">Teléfono:</h5>
        <p class="mb-6"><%= current_user.phone %></p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 lg:grid-rows-4 md:grid-cols-1">
      <div class="mt-4">
        <h5 class="header-5">Giro</h5>
        <p class="mb-6"><%= market.business_line%></p>
      </div>
      
      <div class="mt-4">
        <h5 class="header-5">Vendiendo</h5>
        <p class="mb-6"><%= market.selling %></p>
      </div>

      <div class="mt-4">
        <h5 class="header-5">Forma(s) de pago</h5>
        <p class="mb-6"><%= market.payment %></p>
      </div>
      
      <div class="mt-4">
        <h5 class="header-5">Tipo(s) de entrega</h5>
        <p class="mb-6"><%= market.pickup_type%></p>
      </div>

      <div class="mt-4">
        <h5 class="header-5">Servicio a domicilio</h5>
        <p class="mb-6"><%= market.service_days %></p>
      </div>
      
      <div class="mt-4">
        <h5 class="header-5">Horario</h5>
        <p class="mb-6"><%= market.open_hour.strftime('%H:%M') %> a <%= market.close_hour.strftime('%H:%M') %></p>
      </div>
    </div >

    <div class="flex flex-row items-center">
      <button id="delete-confirmation-bussines-<%= market.id %>" class="btn button btn-neutral mt-4 w-40 justify-center">Eliminar</button>
      <%= button_to 'Editar', edit_market_place_path(market.id), method: 'get', class: 'button btn-sec ml-2 mt-4 w-40 justify-center' %>
    </div>

    <div id='delete-confirmation-bussines-<%= market.id %>' class='modal-full fixed bg-transparent hidden'>
      <div class='modal-content text-center'>
      <div class='modal-text'>
        <h3 class='header-3-4 text-center'>Eliminar tu negocio</h3>
        <p class='text-center mb-18'>¿Estás seguro que quieres eliminar tu negocio <%= market.business_name %>?</p>
        <div class="flex flex-row justify-center items-center space-x-4">
        <%= button_to 'Confirmar', market_place_path(market.id), method: :delete, class: 'button btn-prim md:px-20 lg:px-20' %>
          <a href="#" data-dismiss="modal" class="cancel button btn-neutral md:px-20 lg:px-20">Cancelar</a>
        </div>
        </div>
      </div>
    </div>

    <!-- End Grid Mis negocios-->
    <hr width="90%" class="w-full mt-4 border-scene-neutral">
  <%end%>

  <!-- ---------------------   End Market Places --------------------------- -->
</div>

<div align="center" class="mb-16">
  <%= button_to 'Añadir nuevo negocio', new_market_place_path, method: 'get', class: 'button btn-prim w-80 justify-center' %>

  <button id="delete-confirmation-user" class="btn button btn-neutral mt-16 w-80 justify-center">Borrar cuenta</button>

  <%= button_to 'Editar info', edit_user_path(current_user.id), method: 'get',class: 'button btn-sec mt-4 w-80 justify-center' %>

  <%= button_to 'Volver', market_places_path, method: 'get', class: 'button btn-prim mt-4 w-80 justify-center' %>
</div> 

<div id='delete-confirmation-user' class='modal-full fixed bg-transparent hidden'>
  <div class='modal-content text-center'>
    <div class='modal-text'>
      <h3 class='header-3-4 text-center'>Eliminar tu cuenta</h3>
      <p class='text-center mb-18'>¿Estás seguro que quieres eliminar tu cuenta?</p>
      <div class='flex flex-row justify-center items-center space-x-4'>
      <%= button_to 'Confirmar', deactivate_user_path(current_user.id), method: :patch, class: 'button btn-prim md:px-20 lg:px-20' %>
      <a href="#" data-dismiss="modal" class="cancel button btn-neutral md:px-20 lg:px-20">Cancelar</a>
    </div>
  </div>

  </div>
</div>

<% else %>
  <div class="px-6 y py-2">
    <div class="text-justify py-4 mt-2.5">
      <%= render "shared/header_stamp" %>
      <h3 class="header-3-4">Oops algo salió mal</h3>
    </div>
    <%= button_to 'Volver', market_places_path, method: 'get', class: 'button btn-prim mt-4 w-80 justify-center' %>
  </div>
<% end %>
