<% content_for :head do %>
  <%= javascript_pack_tag 'modal' %>
<% end %>

<div id="clearance" class="px-6 py-16 md:px-12 md:py-24">
  <%= render "shared/header_stamp" %>
  
  <h2 class="header-2 text-center mb-4 md:mb-8"><%= t(".title") %></h2>
  <h6 class="header-6 text-center mb-8 md:mb-12"><%= t(".description") %></h6>
  
  <% if flash[:msg] %>
    <div class="border-2 rounded-lg py-3 bg-red-200 border-red-200 mb-4 pl-4 text-center"><%= flash[:msg] %></div>
  <% end %>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit t(".sign_up"), id: "buttonSignUp", class: "button btn-prim mb-6 mb:mb-8 mx-auto w-9/12", data: { :disable_with => "Procesando..." } %>
    </div>

    <hr class="mx-auto w-9/12">

    <div class="other-links mt-4 md:mb-6">
      <span class="small block text-center">¿Ya tienes una cuenta? <%= link_to t(".sign_in_alt"), sign_in_path, class: "text-tribo font-normal" %></span>
    </div>
  <% end %>

 <%= render "shared/legal" %>

</div>
