<div id='modal-faq' class='modal-full hidden'>
  <div class='modal-content'>
    <div>
      <span id='modal-faq' class='modal-close'><i class='fas fa-times lg:fa-2x'></i></span>
    </div>
    <div class='modal-text'>
      <%= sanitize t 'legal.faq.title', class: 'font-medium' %>
      <%= sanitize t 'legal.faq.body', class: 'font-normal' %>
    </div>
  </div>
</div>

<div id='modal-terms' class='modal-full hidden'>
  <div class='modal-content'>
    <div>
      <span id='modal-terms' class='modal-close'><i class='fas fa-times lg:fa-2x'></i></span>
    </div>
    <div class='modal-text'>
      <%= sanitize t 'legal.terms.title', class: 'font-medium' %>
      <%= sanitize t 'legal.terms.body', class: 'font-normal' %>
    </div>
  </div>
</div>

<div id='modal-recommendations' class='modal-full hidden'>
  <div class='modal-content'>
    <div>
      <span id='modal-recommendations' class='modal-close'><i class='fas fa-times lg:fa-2x'></i></span>
    </div>
    <div class='modal-text'>
      <%= sanitize t 'legal.recommendations.title', class: 'font-medium' %>
      <%= sanitize t 'legal.recommendations.body', class: 'font-normal' %>
    </div>
  </div>
</div>

<div id='modal-policy' class='modal-full hidden'>
  <div class='modal-content'>
    <div>
      <span id='modal-policy' class='modal-close'><i class='fas fa-times lg:fa-2x'></i></span>
    </div>
    <div class='modal-text'>
      <%= sanitize t 'legal.policy.title', class: 'font-medium' %>
      <%= sanitize t 'legal.policy.body', class: 'font-normal' %>
    </div>
  </div>
</div>
