<% content_for :head do %>
  <%= javascript_pack_tag 'ham_menu' %>
  <%= javascript_pack_tag 'modal' %>
  <%= javascript_pack_tag 'sidebar' %>
  <%= javascript_pack_tag 'modal_info' %>
<% end %>

<div data-controller="maps" data-action="google-maps-callback@window->maps#initializeMap">
  <%= render "shared/header" %>
  <div style="width: 100%; height: 86.5vh" data-maps-target="map">
  </div>
</div>

<%= render "shared/sidebar" %>

<div id="modal-faq" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-faq" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.faq.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.faq.body' %>
    </div>
  </div>
</div>
<div id="modal-terms" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-terms" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.terms.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.terms.body' %>
    </div>
  </div>
</div>
<div id="modal-recommendations" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-recommendations" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.recommendations.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.recommendations.body' %>
    </div>
  </div>
</div>
<div id="modal-policy" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-policy" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.policy.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.policy.body' %>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="bg-white shadow bottom-0 inline-block fixed h-32 rounded-t-lg border-t-2">
    <%= form_tag market_places_path, method: :get do %>
      <div class="flex flex-row inline-flex line items-center text-center pt-4 font-bold text-2xl px-6">
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="Products" class=""><%= image_tag 'md/products.svg', class: 'm-auto' %>
            <p>Productos</p>
          </button>
        </div>
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="Services" class=""><%= image_tag 'md/services.svg', class: 'm-auto' %>
            <p>Servicios</p>
          </button>
        </div>
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="Food" class=""><%= image_tag 'md/food.svg', class: 'm-auto' %>
            <p>Comida</p>
          </button>
        </div>
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="All" class=""><%= image_tag 'md/food.svg', class: 'm-auto' %>
            <p>Todos</p>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% @market_places.each do |market_place| %>
  <!-- Modal Right -->
  <button class="modal-button" name="<%= market_place.id %>"><%= image_tag 'bussines_marker.svg' %></button>

  <div id="<%= market_place.id %>" class="info-store-full pointer-events-none opacity-0">
    <div class="modal-overlay info-store-outside"></div>
    <div class="info-store-modal">
      <div class="flex flex-col">
        <div class="fill-current text-gray-500 cursor-pointer">
          <span class="info-close info-store-modal-close"><i class="fas fa-times fa-2x"></i></span>
        </div>
        <div class="flex flex-row">
          <!-- Grid column -->
          <div class="info-store-modal-logo">
            <%= image_tag 'lg/'+market_place.business_line.downcase!+'.svg' %>
          </div>
          <!-- Grid column -->
          <div class="info-store-modal-businessname">
            <!-- Column contents -->
            <p class="info-store-modal-title text-2xl"><%= market_place.business_name %></p>
            <p class="info-store-modal-content mb-1"><%= market_place.business_line %></p>
            <p class="info-store-modal-content"><%= market_place.service_days %>, <%= market_place.open_hour.to_s(:time) %> a <%= market_place.close_hour.to_s(:time) %></p>
          </div>
        </div>
        <div class="ml-4 mr-4 md:ml-12  md:mr-12 md:ml-12  md:mr-12">
          <p class="info-store-modal-title">Dirección:</p>
          <p class="info-store-modal-content"><%= market_place.address %>, <%= market_place.district %>, <%= market_place.postcode %></p>
          <p class="info-store-modal-title">Tipo(s) de entrega:</p>
          <p class="info-store-modal-content flex flex-row sm:inline-flex md:inline-flex lg:inline-flex lg:mr-3 md:mr-3"><%= image_tag 'pickup_products.svg', class: 'mr-1.5' %> Recoger producto </p>
          <p class="info-store-modal-content flex flex-row sm:inline-flex md:inline-flex lg:inline-flex"><%= image_tag 'send_products.svg', class: 'mr-1.5' %> Recibir producto </p>
          <p class="info-store-modal-title">Acepta pagos con:</p>
          <p class="info-store-modal-content flex flex-row sm:inline-flex md:inline-flex lg:inline-flex lg:mr-3 md:mr-3"><%= image_tag 'cash.svg', class: 'mr-1.5' %> Efectivo </p>
          <p class="info-store-modal-content flex flex-row sm:inline-flex md:inline-flex lg:inline-flex"><%= image_tag 'credit_card.svg', class: 'mr-1.5' %> Tarjeta de débito/crédito </p>
          <p class="info-store-modal-title">Teléfono:</p>
          <p class="info-store-modal-content"><%= User.find(market_place.user_id).phone %></p>
          <div class="info-store-modal-whatsapp">
            <a class="button btn-prim px-12" href="https://wa.me/<%= User.find(market_place.user_id).phone %>" target="_blank"><%= image_tag 'whatsapp.svg', class: 'mr-3' %> Enviar un WhatsApp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Right -->
<% end %>
