<% content_for :head do %>
  <%= javascript_pack_tag 'ham_menu' %>
  <%= javascript_pack_tag 'modal' %>
  <%= javascript_pack_tag 'sidebar' %>
  <%= javascript_pack_tag 'modal_info' %>
<% end %>

<div data-controller="maps" data-action="google-maps-callback@window->maps#initializeMap">
  <%= render "shared/header" %>
  <div style="width: 100%; height: 86.5vh" data-maps-target="map">
  </div>
</div>

<%= render "shared/sidebar" %>

<div id="modal-register" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-register" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      Titulo
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      Contenido
    </div>
  </div>
</div>
<div id="modal-faq" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-faq" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.faq.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.faq.body' %>
    </div>
  </div>
</div>
<div id="modal-terms" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-terms" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.terms.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.terms.body' %>
    </div>
  </div>
</div>
<div id="modal-recommendations" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-recommendations" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.recommendations.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.recommendations.body' %>
    </div>
  </div>
</div>
<div id="modal-policy" class="modal-bg bg-transparent absolute transition-opacity duration-500 hidden bg-gray-300 pt-16 fixed w-full h-full top-0 left-0 z-50 overflow-auto">
  <div class="modal-content m-auto bg-white w-4/5 shadow-lg rounded-lg">
    <div class="p-4">
      <span id="modal-policy" class="modal-close float-left text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer">&#10229;</span>
      <%= sanitize t 'legal.policy.title' %>
    </div>
    <div class="text-justify p-4 text-gray-500 mx-8">
      <%= sanitize t 'legal.policy.body' %>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="bg-white shadow bottom-0 inline-block fixed h-32 rounded-t-lg border-t-2">
    <%= form_tag market_places_path, method: :get do %>
      <div class="flex flex-row inline-flex line items-center text-center pt-4 font-bold text-2xl px-6">
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="Products" class=""><%= image_tag 'md/products.svg', class: 'm-auto' %>
            <p>Productos</p>
          </button>
        </div>
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="Services" class=""><%= image_tag 'md/services.svg', class: 'm-auto' %>
            <p>Servicios</p>
          </button>
        </div>
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="Food" class=""><%= image_tag 'md/food.svg', class: 'm-auto' %>
            <p>Comida</p>
          </button>
        </div>
        <div class="flex-initial px-2">
          <button name="business_line" type="submit" value="All" class=""><%= image_tag 'md/food.svg', class: 'm-auto' %>
            <p>Todos</p>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% @market_places.each do |market_place| %>
  <!-- Modal Right -->
  <div class="flex items-center justify-center">
    <button class="modal-button w-16" name="<%= market_place.id %>"><%= image_tag 'md/'+market_place.business_line.downcase!+'.svg' %></button>
  </div>
  <div id="<%= market_place.id %>" class="modal opacity-0 pointer-events-none absolute w-full h-full top-0 left-0 flex items-center justify-end">
    <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
    <div class="absolute w-1/4 h-2/3 bg-white rounded-sm shadow-lg justify-center rounded-l-lg">
      <div class="flex flex-col pb-8">
        <div class="mr-2 ml-auto mt-2 fill-current text-gray-500 w-6 h-6 cursor-pointer">
          <span class="info-close float-right text-lg font-bold text-gray-500 hover:text-gray-300 no-underline cursor-pointer"><%= image_tag 'close.svg' %></span>
        </div>
        <div class="mx-4 flex flex-wrap t-0 pb-6">
          <!-- Grid column -->
          <div class="w-1/3 w-16">
            <!-- Column contents -->
            <%= image_tag 'bussines_marker.svg' %>
          </div>
          <!-- Grid column -->
          <div class="w-2/3 flex flex-col justify-center">
            <!-- Column contents -->
            <h1 class="text-sm font-bold ml-4"><%= market_place.business_name %></h1>
            <p class="text-xs ml-4"><%= market_place.business_line %></p>
          </div>
        </div>
        <div class="mx-4 text-sm">
          <h2 class="text-xs font-bold">Dirección:</h2>
          <p class="text-xs pb-6"><%= market_place.address %>, <%= market_place.district %>, <%= market_place.postcode %></p>
          <h2 class="text-xs font-bold">Teléfono:</h2>
          <p class="text-xs pb-6"><%= User.find(market_place.user_id).phone %></p>
          <div class="pt-2 font-bold text-center">
            <div align="center"><img class="w-4 h-4" src="https://cdns.iconmonstr.com/wp-content/assets/preview/2016/240/iconmonstr-whatsapp-1.png"></div>
            <a class="" href="https://wa.me/<%= User.find(market_place.user_id).phone %>" target="_blank">Enviar un mensaje</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Right -->
<% end %>
