<p id="notice" class="mb-6"><%= notice %></p>

<p class="mb-6">
  <strong>Business name:</strong>
  <%= @market_place.business_name %>
</p>

<p class="mb-6">
  <strong>Address:</strong>
  <%= @market_place.address %>
</p>

<p class="mb-6">
  <strong>District:</strong>
  <%= @market_place.district %>
</p>

<p class="mb-6">
  <strong>Postcode:</strong>
  <%= @market_place.postcode %>
</p>

<p class="mb-6">
  <strong>Business line:</strong>
  <%= @market_place.business_line %>
</p>

<p class="mb-6">
  <strong>Selling:</strong>
  <%= @market_place.selling %>
</p>

<p class="mb-6">
  <strong>Payment:</strong>
  <%= @market_place.payment %>
</p>

<p class="mb-6">
  <strong>Pickup type:</strong>
  <%= @market_place.pickup_type %>
</p>

<p class="mb-6">
  <strong>Latitud:</strong>
  <%= @market_place.latitud %>
</p>

<p class="mb-6">
  <strong>Longitud:</strong>
  <%= @market_place.longitud %>
</p>

<p class="mb-6">
  <strong>Open hour:</strong>
  <%= @market_place.open_hour %>
</p>

<p class="mb-6">
  <strong>Close hour:</strong>
  <%= @market_place.close_hour %>
</p>

<p class="mb-6">
  <strong>Service days:</strong>
  <%= @market_place.service_days %>
</p>

<%= link_to 'Edit', edit_market_place_path(@market_place) %> |
<%= link_to 'Back', market_places_path %>
