<%= render "shared/header_stamp" %>

<div id="clearance" class="password-reset">
  <h3><%= t(".title") %></h3>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="text-field">
      <h5><%= form.label :email %></h5>
      <%= form.text_field :email, type: 'email', class: 'input-field' %>
    </div>

        <div class="password-field">
      <h5><%= form.label :password %></h5>
      <%= form.password_field :password, class: 'input-field' %>
    </div>

    <div class="submit-field">
      <%= form.submit class: 'button btn-prim' %>
    </div>
  <% end %>
</div>
